BasedOnStyle: WebKit

AccessModifierOffset: -4
AlignAfterOpenBracket: DontAlign
AlignArrayOfStructures: None
AlignConsecutiveAssignments: false
AlignConsecutiveBitFields: true
AlignConsecutiveDeclarations: false
AlignEscapedNewlines: Right
AlignOperands: Align
AlignTrailingComments: true
AllowAllParametersOfDeclarationOnNextLine: false
AlignConsecutiveShortCaseStatements:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
  AlignCaseColons: false
AllowShortBlocksOnASingleLine: false
AllowBreakBeforeNoexceptSpecifier: Never
AllowShortCompoundRequirementOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterReturnType: None
AlwaysBreakBeforeMultilineStrings: false
AlwaysBreakTemplateDeclarations: true
BinPackArguments: true
BinPackParameters: true
BitFieldColonSpacing: Both
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterCaseLabel: false
  AfterControlStatement: MultiLine
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: true
  BeforeCatch: true
  BeforeElse: true
  BeforeLambdaBody: false
  BeforeWhile: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
  IndentBraces: false
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeConceptDeclarations: Always
BreakBeforeTernaryOperators: false
BreakConstructorInitializers: BeforeComma
BreakStringLiterals: false
ColumnLimit: 0
CompactNamespaces: false
ConstructorInitializerAllOnOneLineOrOnePerLine: false
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
Cpp11BracedListStyle: false
DerivePointerAlignment: false
EmptyLineBeforeAccessModifier: Always
EmptyLineAfterAccessModifier: Never
FixNamespaceComments: true
IndentCaseLabels: true
IndentPPDirectives: None
IndentWidth: 4
IndentWrappedFunctionNames: true
InsertBraces: true
InsertNewlineAtEOF: true
KeepEmptyLinesAtTheStartOfBlocks: false
Language: Cpp
LambdaBodyIndentation: Signature
Macros:
  - ENGINE_SCOPE_EXIT(x)=auto a \= \[x\]
  - ENGINE_SCOPE_EXIT=auto a \= \[\]
  - ENGINE_THREAD_LOCAL_STORAGE(x)=int
MaxEmptyLinesToKeep: 1
NamespaceIndentation: All
PointerAlignment: Left
PPIndentWidth: -1
PackConstructorInitializers: Never
ReflowComments: false
SeparateDefinitionBlocks: Leave
SortIncludes: false
SortUsingDeclarations: false
ShortNamespaceLines: 0
SpaceAroundPointerQualifiers: Default
SpaceAfterCStyleCast: false
SpaceAfterTemplateKeyword: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeCaseColon: false
SpaceBeforeCpp11BracedList: true
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: true
SpaceBeforeJsonColon: false
SpaceInEmptyBlock: false
SpaceInEmptyParentheses: false
SpacesInLineCommentPrefix:
  Minimum: 1
  Maximum: -1
SpacesBeforeTrailingComments: 1
SpacesInAngles: false
SpacesInCStyleCastParentheses: false
SpacesInContainerLiterals: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
Standard: Latest
StatementMacros: [ENGINE_ENUM, ENGINE_ENUM_FLAGS, ENGINE_ENUM_INNER, ENGINE_ENUM_FLAGS_INNER, VISUAL_CLASS, VISUAL_CLASS_NO_META, VISUAL_BASE_CLASS, VISUAL_BASE_CLASS_NO_META, VISUAL_DECLARE_REFLECT_CLASS_AS, VISUAL_STRUCT, VISUAL_STRUCT_NO_META, VISUAL_BASE_STRUCT_NO_META, VISUAL_BASE_STRUCT, VISUAL_DECLARE_REFLECT_STRUCT_AS, ENGINE_WARNINGS_POP, ENGINE_WARNINGS_PUSH, _Pragma, _pragma]
QualifierAlignment: Custom
QualifierOrder: ['friend', 'static', 'inline', 'constexpr', 'const', 'volatile', 'type']
ReferenceAlignment: Left
RemoveParentheses: Leave
RemoveSemicolon: true
RequiresClausePosition: OwnLine
RequiresExpressionIndentation: OuterScope
TabWidth: 4
UseTab: ForContinuationAndIndentation
